*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build
/captures
.externalNativeBuild
/.idea/
release.*ks
/patcherapk/SourceApk
/patcherapk/original.apk
/patcherapk/patched.apk
/patcherapk/patched-unsigned-aligned.apk
/patcherapk/patched-unsigned.apk